* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}

.parent{
  height:100%;
  width:100%;
  background-color: #c64848;
  padding:10px;
  display:flex;
  align-self: center;
  gap: 10px;
  flex-wrap: wrap;
}

  .card
  
  {
  height: 600px;
  width: 330px;
  margin-left: 10px;
  background: linear-gradient(135deg, #2b0e31da, #7b466a, #9f6496);
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .card .top{

  margin: 10px;
}
.top button {
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 6px 10px;
  font-size: 12px;
  background-color:transparent;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 90px;
  cursor: pointer;
}

.top h2{
  font-size: 25px;
  color: #f0f0f0;
  font-weight: 650;
  font-style: italic;
  margin-top: 10px;
  margin-left: 125px;

}
.top h3{
  font-size: 22px;
  color: #f0f0f0;
  font-weight: 650;
  margin-top: 0px;
  margin-left: 70px;
  font-style: italic;
}
.top h4{
  font-size: 22px;
  color: #f0f0f0;
  font-weight: 650;
  margin-top: 0px;
  margin-left: 110px;
  font-style: italic;
}

.profile-pic-section {
  width: 90px;
  height: 90px;
  background: #f0c6f0;
  border-radius: 50%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon {
  font-size: 40px;
}

.center {
  margin-top:5px;
}

.center input {
  width: 90%;
  background: #ffffff;
  padding: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  margin-left: 17px;
  font-size: 14px;
    color: #7f0d6e;
    font-style: bold;
    font-weight: 600;
    margin-top: 10px;
     box-shadow: 0 4px 8px rgb(189, 78, 78);
}

.toggle-password {
  position: absolute;
  position: fixed;
  right: 20px;
  top: 63.2%;
  left:20%;
   margin-right: 420px;
  transform: translateY(-75%);
  font-size: 13px;
  cursor: pointer;
  color: #555;
}

.forgot {
  font-size: 13px;
  margin-left:20px;
  opacity: 0.9;
  cursor: pointer;
  margin-top: -8px;
}


.bottom {
  text-align: center;
  margin-top: 5px;
}

.or {
  margin: 15px 0;
  font-size: 14px;
  margin-left: 120px;
  font-weight: 600;
  opacity: 0.9;
  margin-top: 5px;
}

.google-btn {
  width: 90%;
  padding: 12px;
  margin-left: 18px;
  border-radius: 15px;
  border: none;
  background: white;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 8px rgb(189, 78, 78);
  margin-top: 10px;
}

.google-btn img {
  width: 20px;
}

.new-user {
  margin-top: 15px;
  font-size: 14px;
}

.signup-btn {
  width: 70%;
  padding: 14px;
  border-radius: 18px;
  margin-left: 5px;
  border: none;
  background: #5a2f5c;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}
.signup-btn:hover {
  background: #7b466a;
}