* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}

.parent{
  height:100%;
  width:100%;
  background-color: #c64848;
  padding:10px;
  display:flex;
  align-self: center;
  gap: 10px;
  flex-wrap: wrap;
}

  .card{
  height: 600px;
  width: 330px;
  margin-left: 10px;
  background: linear-gradient(135deg, #2b0e31da, #7b466a, #9f6496);
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

 
  .top{
    padding: 20px;

  }

  .top h2{
    font-size: 25px;
    margin-top: 20px;
  }
  
.backButton {
   position: absolute;
  top: 10px;
  left: 20px;
  padding: 6px 10px;
  font-size: 12px;
  background-color:transparent;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 90px;
  cursor: pointer;
}



.top button{
  background:white;
  color:#7b466a;
  margin:5px;
  padding: 10px 35px;
  border-radius: 35px;
  font-weight: 600px;
  box-shadow: 0 4px 8px rgb(150, 4, 4);
}

  .center {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  padding: 0 20px;
}

.box {
  text-align: center;
  cursor: pointer;
}

.uploadBox {
  height: 85px;
  background: white;
  border-radius: 12px;
}

.box p {
  margin-top: 0px;
  color: white;
  font-size: 14px;
}

.fileName {
  display: block;
  font-size: 10px;
  color: #eee;
  margin-top: 3px;
}

.bottom {
  position: absolute;
  bottom: 93px;
  left: 12%;
  transform: translateX(-50%);
  width: 330px;
  background: #fff;
  border-radius: 15px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.navIcon {
  font-size: 20px;
  color: #5b3b6f;
  cursor: pointer;
  margin-top: 0px;
}

